.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    display: visible;
}

.quiz {
    position: absolute;  
    top: 50%;
    left: 50%;
}

.que_content {
    position: absolute;  
    top: 50%;
    left: 50%;
    opacity: 0;
}
